spring:
  config:
    activate:
      on-profile: real
  jackson:
    serialization:
      fail-on-empty-beans: false
  datasource:
    driver-class-name: org.mariadb.jdbc.Driver
    url: jdbc:mariadb://mysql-rds.c35pvkgak4n8.ap-northeast-2.rds.amazonaws.com:3306/idiot?serverTimezone=Asia/Seoul&characterEncoding=UTF-8
    username: root
    password: h13001212!
  jpa:
    show_sql: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
  batch:
    job:
      enabled: false #시작과 동시에 실행되는 건 방지
  servlet:
    multipart:
      max-file-size: 20MB
      max-request-size: 20MB
aws:
  paramstore:
    enabled: true
    prefix: /config
    profile-separator: _
    name: chosoyeon
cloud:
  aws:
    region:
      static: ap-northeast-2
    stack:
      auto: false
    credentials:
      instanceProfile: true

---
spring:
  config:
    activate:
      on-profile: prod
  jackson:
    serialization:
      fail-on-empty-beans: false
  datasource:
    driver-class-name: org.mariadb.jdbc.Driver
    url: jdbc:mariadb://idiot-root.c35pvkgak4n8.ap-northeast-2.rds.amazonaws.com:3306/idiot?serverTimezone=Asia/Seoul&characterEncoding=UTF-8
    username: root
    password: h13001212!
  jpa:
    show_sql: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
  batch:
    job:
      enabled: false #시작과 동시에 실행되는 건 방지
  servlet:
    multipart:
      max-file-size: 20MB
      max-request-size: 20MB
  profiles:
    include: oauth
cloud:
  aws:
    region:
      static: ap-northeast-2
    stack:
      auto: false
    credentials:
      instanceProfile: true
---
spring:
  profiles: dev
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: "jdbc:mysql://localhost:3306/local_idiot?serverTimezone=UTC&characterEncoding=UTF-8"
    username: root
    password: P@ssw0rd
  jpa:
    database-platform: org.hibernate.dialect.MySQL5InnoDBDialect
    show_sql: true
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        format_sql: true
    generate-ddl: false
    open-in-view: false
  output:
    ansi:
      enabled: always
  batch:
    initialize-schema: always #batch 스키마 자동생성
    job:
      enabled: false #시작과 동시에 실행되는 건 방지
  servlet:
    multipart:
      max-file-size: 20MB
      max-request-size: 20MB
logging:
  level:
    org.hibernate.type: trace
server:
  port: ${PORT:8080}
  error:
    whitelabel:
      enabled: false
cloud:
  aws:
    s3:
      bucket: idiot-model-bucket
    region:
      static: ap-northeast-2
    stack:
      auto: false
    credentials:
      instanceProfile: true

---
spring:
  profiles: local
  datasource:
    driver-class-name: org.h2.Driver
    url: "jdbc:h2:tcp://localhost/~/test"
    username: sa
  jpa:
    database-platform: org.hibernate.dialect.MySQL5InnoDBDialect
    properties:
      hibernate:
        ddl-auto: create
        format_sql: true
    generate-ddl: false
    open-in-view: false
    show-sql: true
  output:
    ansi:
      enabled: always
logging:
  level:
    org.hibernate.type: trace